body {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
#canvas {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: #333;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
  }
  